<div class="container mt-5">
    <div class="row">
        <div *ngFor="let u of users" class="col-lg-2 col-md-3 col-sm-6">

            <!--Parent passes "input" to the [@Input variable name] of the child-->
            <app-member-card [user]="u"> </app-member-card>
        </div>

    </div>
</div>

<div class="d-flex justify-content-center">
    <pagination class="pagination" [boundaryLinks]="true" [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsPerPage"
        (pageChanged)="pageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
        lastText="&raquo;">

    </pagination>
</div>
<!-- [(ngModel)]="pagination.currentPage" 
[xxx] = properties of Pagination component from bootstrap pagination
(xxx) = Event emmitter object of Pagination component {page, itemsPerPage} 
assignment of bs Pagination fields to match pagination. ts interface
display symbols forward and backward setters to change page 
-->